<div class="container">
  <h1>Edit</h1>
  <%= render 'form' %>
  <%= link_to '詳細', task_path(@task.id), class:'btn btn-info' %>
  <label>|</label>
  <%= link_to '一覧に戻る', tasks_path, class:'btn btn-info' %>
</div>
